.sidebar-container {
  position: sticky;
  top: 5rem;
  z-index: 2;
}
@media screen and (max-width: 1050px) {
  .sidebar-container {
    top: 0;
  }
  .drawer-close {
    transform: translateX(-21rem);
    transition: transform 250ms ease-in-out;
  }
  .drawer-open {
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
  }
}
.app {
  background-color: var(--bg-color);
}
