.navbar-desktop-view {
  display: flex;
}
.navbar-mbl-view {
  display: none;
}
@media screen and (max-width: 650px) {
  .navbar-desktop-view {
    display: none;
  }
  .navbar-mbl-view {
    display: flex;
  }
}
.app {
  background-color: var(--bg-color);
}
div .toast {
  width: 20rem;
  background-color: var(--bg-color-pink);
}
