@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  font-size: 100%;
}
:root {
  --bg-color-home: rgb(234, 245, 234);
  --bg-color-form: rgb(250, 246, 230);
  --pink-color: rgb(235, 199, 229);
  --blue-color: rgb(138, 198, 221);
  --white-color: white;
  --black-color: #1e293b;
  --off-white: #f1f5f9;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
button:hover,
link:hover {
  cursor: pointer;
}
.margin-top-bottom-zero {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 500px) {
  body {
    font-size: 80%;
  }
}
