.home-page {
  margin-top: 3rem;
  position: relative;
  width: 100vw;
  height: 91vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-img {
  position: relative;
  width: 30%;
  height: 85%;
  border: 1rem solid var(--pink-color);
  padding: 10px;
}
.responsive-img {
  width: 100%;
  height: 100%;
}
.landing-page-text {
  position: absolute;
  font-weight: 900;
  font-size: 2rem;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.landing-page-title {
  width: 90%;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 2.5rem;
  color: var(--black-color);
}
.cta-button {
  border: none;
  background-color: var(--pink-color);
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 12px;
  color: var(--black-color);
  transition: transform 0.3s;
}
.cta-button:hover {
  transform: scale(1.07);
  background-color: var(--dark-pink);
}
@media screen and (max-width: 1050px) {
  .home-page {
    margin-top: 4rem;
  }
  .landing-img {
    width: 60%;
  }
}
@media screen and (max-width: 650px) {
  .home-page {
    margin-top: 7.375rem;
  }
}
@media screen and (max-width: 500px) {
  .landing-img {
    width: 100%;
    height: 90%;
    border: none;
  }
  .landing-page-text {
    top: 30%;
  }
  .home-page {
    align-items: flex-start;
  }
}
